body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    color: white;
    background-image: url('./bg.jpg');
    /* I figured out the photo thingy! */
}

.writing {
    text-shadow: 3px;
    text-shadow: black;
}